.objeto-oculto-game #game {
  .game-icon {
    position: absolute;
  }

  // displayed when colorblind mode is in use
  .english-word {
    position: absolute;
    margin-top: 8px;

    &.dark-icon {
      color: white;
    }
  }
}
