$HINT_WAIT_TIME: 15s;

.objeto-oculto-game {
  // needs to be darker than most games to contrast with white icons
  background-image: repeating-linear-gradient(
    -45deg,
    var(--purple-300),
    var(--purple-300) 10px,
    var(--purple-200) 10px,
    var(--purple-200) 11px
  ); /* https://stripesgenerator.com/ */
  background-size: 15.56px 15.56px;
  color: black;
  position: relative;

  #game {
    max-width: 468px;
    width: 468px;
    min-height: 500px;
    margin: 24px auto;
    position: relative;

    .wrong-icon-name {
      position: absolute;
      background-color: rgba(255, 255, 255, 0.2);
      backdrop-filter: blur(8px);
      padding: 2px 4px;
      border-radius: 4px;
      animation: waitThenFadeOut 4s forwards;
    }
  }

  #click-area {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    cursor: pointer;

    > .game-over {
      cursor: default;
    }
  }

  .current-target {
    width: 100%;
    font-family: var(--title-font);
    font-size: 1.5rem;
    text-align: center;
    position: relative;
    vertical-align: baseline;

    img {
      width: 24px;
      height: 24px;
      position: relative;
      top: 4px;
    }
  }

  .hint {
    animation: popIn $HINT_WAIT_TIME forwards;
    opacity: 0;
  }

  .found-counter {
    position: absolute;
    bottom: 0px;
    width: 100%;
    text-align: right;
    font-size: 0.75rem;
  }

  &.game-over {
    div {
      cursor: default !important;
    }
  }
}

@keyframes waitThenFadeOut {
  0% {
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes popIn {
  0% {
    opacity: 0;
  }
  99% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
