.game-container {
  background-color: var(--purple-100);
  color: black;
  position: relative;

  #game,
  .complete {
    margin: 0 auto;
    max-width: 468px;
    width: 468px;
    min-height: 500px;
    padding: 24px 0px;
    position: relative;

    .game-icon {
      position: absolute;
    }
  }

  #click-area {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    cursor: pointer;

    > .game-over {
      cursor: default;
    }
  }

  #current-target {
    width: 100%;
    text-align: center;
    position: relative;
  }

  .complete {
    background-color: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(10px);
    font-size: 88px;
    font-family: "Rum Raisin", sans-serif;
    width: 100%;
    text-align: center;

    .complete-header {
      margin-top: 96px;
    }

    button {
      background-color: var(--purple-350);
      font-size: 24px;
    }
  }

  &.game-over {
    div {
      cursor: default !important;
    }
  }
}
