.objeto-oculto-game {
  background-color: var(--purple-100);
  color: black;
  position: relative;

  #game {
    margin: 0 auto;
    max-width: 468px;
    width: 468px;
    min-height: 500px;
    padding: 24px 0px;
    position: relative;

    .game-icon {
      position: absolute;
    }
  }

  #click-area {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    cursor: pointer;

    > .game-over {
      cursor: default;
    }
  }

  #current-target {
    width: 100%;
    text-align: center;
    position: relative;
  }

  &.game-over {
    div {
      cursor: default !important;
    }
  }
}
