#objeto-oculto {
  display: grid;
  grid-template-columns: 344px 516px;
  min-height: 100vh;
  width: 100%;
  max-width: 1024px;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  background-color: var(--foreground);
  padding: 16px 0 60px;

  h1 {
    color: var(--purple-550);
    font-family: var(--title-font);
    font-weight: 400;
    font-style: normal;
  }

  .about {
    padding: 8px 32px;
  }

  .icon-sets {
    button {
      margin: 1rem 8px 1rem 0;
    }
  }

  .iconset-checkbox {
    display: block;
  }

  .generate-button {
    background-color: var(--purple-350);

    &:disabled {
      cursor: default;
    }
  }

  textarea {
    width: 100%;
    height: 240px;
  }

  .colorblind-input {
    margin: 16px 0;
    display: flex;
    align-items: center;
    gap: 2px;

    input {
      width: 32px;
      height: 32px;
    }
  }
}

.error {
  background-color: var(--pink-500);
  padding: 16px;
}

@media (max-width: 1024px) {
  #objeto-oculto {
    grid-template-columns: 1fr;
    padding: 0px 0px 240px;
  }
}
