.game-container {
  background-color: var(--blue-100);
  color: black;
  position: relative;

  .game {
    margin: 0 auto;
    max-width: 468px;
    padding: 24px 0px;

    .word {
      cursor: pointer;
      width: calc(100% - 12px);
      max-width: 100%;
      display: flex;
      justify-content: space-between;
      padding: 0px 4px 0px 8px;

      &.active {
        background-color: var(--orange-350);
      }

      .syllable {
        // only syllables by the definitions, not those in the bank
        margin: 4px 2px;
        padding: 6px 8px;
        &:first-child {
          border-radius: 8px 0 0 8px;
        }
        &:last-child {
          border-radius: 0 8px 8px 0;
        }
      }
    }

    .definition {
      color: var(--blue-900);
      font-size: 24px;
      line-height: 48px;
      font-family: "Rum Raisin", sans-serif;
    }

    .syllable {
      display: inline-block;
      background-color: var(--blue-550);
      color: white;
      margin: 4px 4px;
      padding: 6px;
      min-width: 30px;
      min-height: 30px;
      text-align: center;
      vertical-align: top;

      &.empty-syllable {
        background-color: var(--blue-350);

        &.active-syllable {
          background-color: white;
        }
      }
    }

    .bank {
      margin-top: 24px;

      .syllable {
        cursor: pointer;
      }
    }
  }

  .complete {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(10px);
    text-align: right;
    font-size: 88px;
    font-family: "Rum Raisin", sans-serif;

    div {
      width: 100%;
      text-align: center;
    }

    button {
      text-align: right;
      font-size: 24px;
      background-color: transparent;
    }
  }

  &.game-over {
    div {
      cursor: default !important;
    }
  }
}
