.game-container {
  background-color: #deeaff;
  color: black;
  height: 480px;

  .game {
    max-width: 480px;
    margin: 0 auto;

    .word {
      cursor: pointer;
      width: 100%;
      display: flex;
      justify-content: space-between;
      padding: 4px 4px 0px 8px;
      // &:last-of-type {
      //   padding-bottom: 80px;
      // }

      &.active {
        background-color: orange;
      }
    }

    .syllable {
      display: inline-block;
      background-color: #1d4ea8;
      color: white;
      margin: 4px 4px;
      padding: 6px;
      min-width: 30px;
      min-height: 30px;
      text-align: center;

      &.empty-syllable {
        background-color: #6c96e3;

        &.active-syllable {
          background-color: white;
        }
      }
    }
  }

  .bank {
    .syllable {
      cursor: pointer;
    }
  }
}
