#silabas-generator {
  padding: 0 24px;

  button {
    margin: 16px 0;
  }

  input[type="checkbox"] {
    margin-right: 4px;
  }

  .p {
    margin: 8px 0;
  }

  .silabas-game {
    margin: 24px 0;
  }

  textarea {
    width: 100%;
    height: 96px;
    margin-bottom: 80px;
  }
}
