#silabas {
  display: grid;
  grid-template-columns: 1fr 2fr;
  min-height: 100vh;
  width: 100%;
  max-width: 1024px;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  background-color: var(--foreground);
  padding: 120px 60px;

  h1 {
    font-family: "Rum Raisin", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
}

.error {
  background-color: crimson;
  padding: 16px;
}

@media (max-width: 1024px) {
  #silabas {
    grid-template-columns: 1fr;
  }
}
