#silabas {
  display: grid;
  grid-template-columns: 344px 680px;
  min-height: 100vh;
  width: 100%;
  max-width: 1024px;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  background-color: var(--foreground);
  padding: 60px 0;

  h1 {
    color: var(--blue-550);
    font-family: var(--title-font);
    font-weight: 400;
    font-style: normal;
  }

  .about {
    padding: 8px 32px;
  }

  .date {
    margin-top: 48px;
    font-weight: 600;
    font-size: 18px;
  }
}

.error {
  background-color: crimson;
  padding: 16px;
}

@media (max-width: 1024px) {
  #silabas {
    grid-template-columns: 1fr;
    padding: 0px 0px 240px;
  }
}
