#silabas {
  grid-template-columns: 344px 680px;
  justify-content: space-between;

  h1 {
    color: var(--blue-550);
  }

  .about {
    padding: 8px 32px;
  }
}

@media (max-width: 1024px) {
  #silabas {
    grid-template-columns: 1fr;
  }
}
