// NOTE: some styles are shared with MemoriaGame.scss

#memoria-generator {
  display: grid;
  grid-template-columns: 480px auto;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-evenly;
  width: 100%;

  .generator-settings {
    max-height: calc(100vh - 96px);
    overflow-y: scroll;
    width: 480px;

    select {
      margin-bottom: 1rem;
    }

    label {
      display: inline-block;
    }

    .emoji-tile {
      cursor: pointer;

      &.disabled {
        cursor: default;
        filter: grayscale(100%);
        opacity: 0.2;
      }

      &.selected {
        box-shadow: 0 0 4px 2px var(--success);
      }

      &.previously-used {
        border-color: var(--pink-500);
      }
    }

    input[type="checkbox"] {
      display: none;
    }
  }

  .sticky {
    position: fixed;
    bottom: 0;
    left: calc(50vw - 512px);
    padding: 16px 0;
  }

  textarea {
    width: 100%;
    height: 240px;
    margin-top: 1rem;
  }
}

.warning {
  background-color: var(--yellow);
  padding: 16px;
}
