#memoria {
  grid-template-columns: 344px auto;
  justify-content: space-evenly;

  h1 {
    color: var(--yellow);
  }

  .colorblind-input {
    margin: 16px 0;
    display: flex;
    align-items: center;
    gap: 2px;

    input {
      width: 32px;
      height: 32px;
    }
  }

  .win {
    .return-button {
      background-color: var(--yellow-light);
    }
  }
}

@media (max-width: 1024px) {
  #memoria {
    grid-template-columns: 384px;
  }
}
