.memoria-game,
#memoria-generator {
  position: relative;

  #game {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 8px;
  }

  .win {
    .return-button {
      background-color: var(--yellow-light);
    }
  }
}
