#memoria {
  display: grid;
  grid-template-columns: 344px auto;
  width: 100%;
  max-width: 1024px;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-evenly;
  background-color: var(--foreground);
  padding: 60px 0;

  h1 {
    color: var(--yellow);
    font-family: var(--title-font);
    font-weight: 400;
    font-style: normal;
  }

  .about {
    padding: 8px 32px;
  }

  .colorblind-input {
    margin: 16px 0;
    display: flex;
    align-items: center;
    gap: 2px;

    input {
      width: 32px;
      height: 32px;
    }
  }
}

@media (max-width: 1024px) {
  #memoria {
    grid-template-columns: 1fr;
    padding: 0px 0px 240px;
  }
}
