// NOTE: some styles are shared with MemoriaGame.scss

#memoria-generator {
  display: grid;
  grid-template-columns: 480px auto;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-evenly;
  width: 100%;

  .generator-settings {
    max-height: 480px;
    overflow-y: scroll;
    width: 480px;

    select {
      margin-bottom: 1rem;
    }

    input[type="checkbox"] {
      width: 32px;
      height: 32px;
      margin: auto 4px auto 0;
    }
  }

  .tile-pair {
    display: flex;

    .emoji-tile {
      margin: 4px;
    }
  }

  .sticky {
    position: fixed;
    bottom: 0;
    left: calc(50vw - 512px);
    padding: 16px 0;
  }

  textarea {
    width: 100%;
    height: 240px;
    margin-top: 1rem;
  }
}
