.emoji-tile {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 4px;
  border: 1px solid var(--yellow);
  width: 80px;
  height: 80px;
  padding: 4px;

  &.image-tile {
    width: 72px;
    height: 72px;
    padding: 8px;
  }
  &.text-tile {
    font-family: var(--easy-font);
    font-size: 1.2rem;
  }
  &.image-and-text-tile {
    position: relative;
    border-color: var(--success);
    span {
      position: absolute;
      bottom: 0;
      margin-bottom: 4px;
      background: rgba(white, 0.5);
      width: 100%;
    }
  }

  &.small-tile {
    scale: 0.75;
    margin: -8px !important;
  }

  &.clickable {
    cursor: pointer;
  }

  &.back {
    border: 1px solid var(--yellow);

    .inside {
      width: 72px;
      height: 72px;
      border-radius: 4px;
      background: repeating-linear-gradient(
        45deg,
        var(--yellow),
        var(--yellow) 10px,
        var(--yellow-light) 10px,
        var(--yellow-light) 20px
      );
    }
  }
}
