.win {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(10px);
  text-align: center;
  font-size: 88px;
  font-family: var(--title-font);
  z-index: 9;

  div {
    width: 100%;
  }

  .close-button {
    text-align: right;
    min-height: 60px;
    button {
      font-size: 24px;
      background-color: transparent;
      margin-right: 48px;
    }
  }

  .return-button {
    // background-color: var(--purple-350);
    background-color: rgba(255, 255, 255, 0.6);
    font-size: 24px;
  }
}
