.ortografia-card {
  // css reset
  input {
    border: none;
    outline: none;
    box-shadow: none;
    appearance: none;
  }

  button {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    outline: none;
    box-shadow: none;
    appearance: none;
    -webkit-appearance: none;
  }

  input:focus,
  input:active,
  input:hover,
  button:focus,
  button:active,
  button:hover {
    border: none !important;
    outline: none !important;
    box-shadow: none !important;
  }
  // end css reset

  font-size: 24px;
  background-color: white;
  border-radius: 8px;
  border: 2px solid black;
  padding: 1rem;
  margin: 1rem;

  &:focus-within {
    // FIXME: i think somehow two can have this at once??
    // border-color: var(--pink-400);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }

  input {
    vertical-align: middle;
    line-height: 48px;
    vertical-align: middle;
    font-size: 1.4rem;
    padding: 0 0.5rem;
    margin-left: 0.5rem;
    background-color: transparent;
    color: black;
    border-bottom: 2px solid gray;

    &:focus,
    &:active,
    &:hover {
      border-bottom: 2px solid gray;
    }
  }

  &.correct {
    background-color: var(--green-200);
    // display: flex;
    // justify-content: space-between;
    border-color: var(--success);

    input {
      text-transform: uppercase;
      border-bottom: none;
      // margin-left: 0px;

      &:focus,
      &:active,
      &:hover {
        border-bottom: none;
      }
    }
  }

  button {
    vertical-align: middle;
    width: 48px;
    height: 48px;
    color: lightgray;
    padding: 0px;
    background-color: transparent;
    border-radius: 0px;

    img {
      width: 48px;
      height: 48px;
    }
  }

  img.checkmark {
    vertical-align: middle;
    width: 48px;
    height: 48px;
  }
}
