#root {
  /* ramps from https://www.figma.com/community/plugin/1482371446196684379/color-ramp-generator */
  /* in theory, a 400-point difference is 3:1 contrast ratio, a 500-point difference is 4.5:1, and a 600-point difference is 7:1 */
  /* --blue-050: #e9f4fb; */
  --blue-100: #d5e9f7;
  /* --blue-200: #badbf2; */
  --blue-300: #92c5ea;
  --blue-350: #6cb2e4;
  /* --blue-400: #3e99db; */
  --blue-450: #278ad2;
  /* --blue-500: #237ab9; */
  --blue-550: #1e6aa1;
  /* --blue-600: #1a5c8c; */
  /* --blue-700: #15486e; */
  /* --blue-800: #0f334e; */
  --blue-900: #0b2639;
  /* --blue-950: #06131d; */
  /* --purple-050: #f6f1f4; */
  --purple-100: #ede3ea;
  --purple-200: #e2d2de;
  --purple-300: #d1b8ca;
  --purple-350: #c2a1b9;
  /* --purple-400: #b185a5; */
  /* --purple-450: #a77599; */
  /* --purple-500: #9b638c; */
  --purple-550: #865679;
  /* --purple-600: #754b69; */
  /* --purple-700: #5b3b52; */
  /* --purple-800: #40293a; */
  /* --purple-900: #2f1e2b; */
  /* --purple-950: #180f16; */
  /* note: pink can be used for red, e.g. for error messages */
  /* --pink-050: #fceff1; */
  /* --pink-100: #f9e0e3; */
  /* --pink-200: #f6ccd1; */
  /* --pink-300: #f0aeb5; */
  /* --pink-350: #eb919c; */
  /* --pink-400: #e56d7b; */
  /* --pink-450: #e05565; */
  /* --pink-500: #da3347; */
  /* --pink-550: #c32336; */
  /* --pink-600: #ab1f2f; */
  /* --pink-700: #871825; */
  /* --pink-800: #61111b; */
  /* --pink-900: #490d14; */
  /* --pink-950: #27070b; */
  /* --orange-050: #ffefe4; */
  /* --orange-100: #fee1ca; */
  /* --orange-200: #fecda7; */
  /* --orange-300: #fdad70; */
  --orange-350: #fc8e3a;
  /* --orange-400: #f06a04; */
  /* --orange-450: #da6103; */
  /* --orange-500: #c05503; */
  /* --orange-550: #a74a03; */
  /* --orange-600: #914102; */
  /* --orange-700: #723302; */
  /* --orange-800: #512401; */
  /* --orange-900: #3c1b01; */
  /* --orange-950: #1f0e01; */
  /* --green-050: #e7f5f1; */
  /* --green-100: #d1ece5; */
  /* --green-200: #b4dfd4; */
  /* --green-300: #87ccba; */
  /* --green-350: #5ebba2; */
  /* --green-400: #45a289; */
  /* --green-450: #3e937c; */
  /* --green-500: #37826e; */
  /* --green-550: #30705f; */
  /* --green-600: #296253; */
  /* --green-700: #204d41; */
  /* --green-800: #17362e; */
  /* --green-900: #112822; */
  /* --green-950: #091411; */
  /* --gray-050: #f0f2f4; */
  /* --gray-100: #e3e6e9; */
  --gray-200: #d1d7db;
  /* --gray-300: #b7c0c7; */
  /* --gray-350: #a1acb5; */
  /* --gray-400: #85949f; */
  /* --gray-450: #768793; */
  /* --gray-500: #677783; */
  --gray-550: #596772;
  /* --gray-600: #4e5a63; */
  /* --gray-700: #3d464d; */
  /* --gray-800: #2b3136; */
  /* --gray-900: #1f2428; */
  /* --gray-950: #101214; */
  --success: #15bc15;
  --yellow: #eeb711;
  --yellow-light: #f5d46f;

  --title-font: "Barriecito", system-ui;
  --easy-font: "Rosario", sans-serif;

  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;

  width: 100%;
}

a {
  color: var(--blue-350);
  &:hover {
    color: var(--blue-300);
  }
}

button {
  background-color: var(--blue-350);
  border-radius: 8px;
  color: black;
  cursor: pointer;
  padding: 8px;
}

.page {
  max-width: 1024px;
  margin: 0 auto;
}

/* @media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
} */

.header {
  padding: 8px;
  max-width: 200px;
}
