#root {
  /* --purple-050: #f6f1f4; */
  /* --purple-100: #ede3e9; */
  /* --purple-200: #e2d2dc; */
  /* --purple-300: #d1b8c9; */
  /* --purple-350: #c2a1b8; */
  /* --purple-400: #b185a4; */
  /* --purple-450: #a67598; */
  /* --purple-500: #9a638b; */
  /* --purple-550: #86567a; */
  /* --purple-600: #744b6a; */
  /* --purple-700: #5b3b54; */
  /* --purple-800: #40293b; */
  /* --purple-900: #2f1e2c; */
  /* --purple-950: #180f17; */
  /* --pink-050: #fcf1ef; */
  /* --pink-100: #f9e2e0; */
  /* --pink-200: #f6cecc; */
  /* --pink-300: #f0aead; */
  /* --pink-350: #eb9192; */
  /* --pink-400: #e56b71; */
  /* --pink-450: #e0535f; */
  /* --pink-500: #da3145; */
  /* --pink-550: #c2233b; */
  /* --pink-600: #aa1e38; */
  /* --pink-700: #861830; */
  /* --pink-800: #601125; */
  /* --pink-900: #480d1e; */
  /* --pink-950: #270711; */
  /* --blue-050: #e8f5fb; */
  --blue-100: #d2ebf7;
  /* --blue-200: #b6ddf1; */
  --blue-300: #8ac7e9;
  --blue-350: #62b3e2;
  /* --blue-400: #2e97d8; */
  /* --blue-450: #2586c7; */
  /* --blue-500: #2174b0; */
  --blue-550: #1c6298;
  /* --blue-600: #195484; */
  /* --blue-700: #134068; */
  /* --blue-800: #0e2c49; */
  --blue-900: #0a2036;
  /* --blue-950: #05101c; */
  /* --orange-050: #FFF8E2; */
  /* --orange-100: #FEEDC7; */
  /* --orange-200: #FEDBA2; */
  /* --orange-300: #FDBA68; */
  --orange-350: #fc922e;
  /* --orange-400: #E97003; */
  /* --orange-450: #D46103; */
  /* --orange-500: #BB5303; */
  /* --orange-550: #A24502; */
  /* --orange-600: #8D3A02; */
  /* --orange-700: #6F2C02; */
  /* --orange-800: #4F1E01; */
  /* --orange-900: #3A1501; */
  /* --orange-950: #1E0A00; */

  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;

  width: 100%;
}

a {
  color: var(--blue-350);
  &:hover {
    color: var(--blue-300);
  }
}

.page {
  max-width: 1024px;
  margin: 0 auto;
}

/* @media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
} */

.header {
  font-size: 48px;
  font-weight: 400;
  padding: 0px 16px;
  font-family: "Rum Raisin", sans-serif;
  font-weight: 400;
  font-style: normal;
}
