#root {
  /* ramps from https://www.figma.com/community/plugin/1482371446196684379/color-ramp-generator */
  /* in theory, a 400-point difference is 3:1 contrast ratio, a 500-point difference is 4.5:1, and a 600-point difference is 7:1 */
  /* --blue-050: #E9F4FB; */
  --blue-100: #d5e9f7;
  /* --blue-200: #BADBF2; */
  --blue-300: #92c5ea;
  --blue-350: #6cb2e4;
  /* --blue-400: #3E99DB; */
  --blue-450: #278ad2;
  /* --blue-500: #237AB9; */
  --blue-550: #1e6aa1;
  /* --blue-600: #1A5C8C; */
  /* --blue-700: #15486E; */
  /* --blue-800: #0F334E; */
  --blue-900: #0b2639;
  /* --blue-950: #06131D; */
  /* --purple-050: #F6F1F4; */
  --purple-100: #ede3ea;
  --purple-200: #e2d2de;
  --purple-300: #d1b8ca;
  --purple-350: #c2a1b9;
  /* --purple-400: #B185A5; */
  /* --purple-450: #A77599; */
  /* --purple-500: #9B638C; */
  --purple-550: #865679;
  /* --purple-600: #754B69; */
  /* --purple-700: #5B3B52; */
  /* --purple-800: #40293A; */
  /* --purple-900: #2F1E2B; */
  /* --purple-950: #180F16; */
  /* NOTE: pink can be used for red, e.g. for error messages */
  /* --pink-050: #FCEFF1; */
  /* --pink-100: #F9E0E3; */
  /* --pink-200: #F6CCD1; */
  /* --pink-300: #F0AEB5; */
  /* --pink-350: #EB919C; */
  /* --pink-400: #E56D7B; */
  /* --pink-450: #E05565; */
  /* --pink-500: #DA3347; */
  /* --pink-550: #C32336; */
  /* --pink-600: #AB1F2F; */
  /* --pink-700: #871825; */
  /* --pink-800: #61111B; */
  /* --pink-900: #490D14; */
  /* --pink-950: #27070B; */
  /* --orange-050: #FFEFE4; */
  /* --orange-100: #FEE1CA; */
  /* --orange-200: #FECDA7; */
  /* --orange-300: #FDAD70; */
  --orange-350: #fc8e3a;
  /* --orange-400: #F06A04; */
  /* --orange-450: #DA6103; */
  /* --orange-500: #C05503; */
  /* --orange-550: #A74A03; */
  /* --orange-600: #914102; */
  /* --orange-700: #723302; */
  /* --orange-800: #512401; */
  /* --orange-900: #3C1B01; */
  /* --orange-950: #1F0E01; */
  /* --green-050: #E7F5F1; */
  /* --green-100: #D1ECE5; */
  /* --green-200: #B4DFD4; */
  /* --green-300: #87CCBA; */
  --green-350: #5ebba2;
  /* --green-400: #45A289; */
  /* --green-450: #3E937C; */
  /* --green-500: #37826E; */
  /* --green-550: #30705F; */
  /* --green-600: #296253; */
  /* --green-700: #204D41; */
  /* --green-800: #17362E; */
  /* --green-900: #112822; */
  /* --green-950: #091411; */
  /* --gray-050: #F0F2F4; */
  /* --gray-100: #E3E6E9; */
  --gray-200: #d1d7db;
  /* --gray-300: #b7c0c7; */
  /* --gray-350: #a1acb5; */
  /* --gray-400: #85949F; */
  /* --gray-450: #768793; */
  /* --gray-500: #677783; */
  --gray-550: #596772;
  /* --gray-600: #4e5a63; */
  /* --gray-700: #3d464d; */
  /* --gray-800: #2b3136; */
  /* --gray-900: #1f2428; */
  /* --gray-950: #101214; */

  --title-font: "Barriecito", system-ui;

  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;

  width: 100%;
}

a {
  color: var(--blue-350);
  &:hover {
    color: var(--blue-300);
  }
}

button {
  background-color: var(--blue-350);
  border-radius: 8px;
  color: black;
  cursor: pointer;
  padding: 8px;
}

.page {
  max-width: 1024px;
  margin: 0 auto;
}

/* @media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
} */

.header {
  padding: 8px;
  max-width: 200px;
}
