.home-cards {
  display: flex;
  flex-wrap: wrap;
  width: calc(100% - 32px);
  padding: 16px;
  align-items: flex-start;
  justify-content: center;
  gap: 32px;

  .card {
    border-radius: 36px;
    border: 8px solid black;
    overflow: hidden;
    width: 320px;
    min-width: 320px;

    .card-header {
      background-color: var(--blue-350);
      font-family: var(--title-font);
      font-size: 36px;
      line-height: 56px;
      padding: 0px 16px;

      .beta {
        width: 48px;
        margin-left: 8px;
      }
    }

    .card-body {
      padding: 16px;

      p {
        padding-bottom: 16px;
      }

      button {
        background-color: var(--blue-350);
        border-radius: 8px;
        color: black;
        cursor: pointer;
        padding: 8px;
      }
    }

    &.objeto-oculto {
      .card-header {
        background-color: var(--purple-350);
      }

      button {
        background-color: var(--purple-350);
      }
    }

    &.memoria {
      .card-header {
        background-color: var(--yellow-light);
      }

      button {
        background-color: var(--yellow-light);
      }
    }

    &.inactive {
      border-color: darkgray;
      color: darkgray;

      .card-header {
        background-color: lightgray;
      }

      button {
        background-color: white;
        cursor: default;

        &:hover {
          border: 1px solid transparent;
        }
      }
    }
  }
}

.home-footer {
  margin: 128px 16px 32px;
  text-align: center;
}

.home-credits {
  h1 {
    font-family: var(--title-font);
    font-size: 40px;
    margin-top: 80px;
  }
  img {
    width: 80px;
    vertical-align: middle;
  }
}
