.cards {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding: 16px;
  align-items: flex-start;
  justify-content: center;
  gap: 32px;
}

.card {
  border-radius: 36px;
  border: 8px solid black;
  overflow: hidden;
  width: 320px;
  min-width: 320px;

  .card-header {
    background-color: var(--blue-350);
    font-family: var(--title-font);
    font-size: 36px;
    line-height: 56px;
    padding: 0px 16px;
  }

  .card-body {
    padding: 16px;

    p {
      padding-bottom: 16px;
    }

    button {
      background-color: var(--blue-350);
      border-radius: 8px;
      color: black;
      cursor: pointer;
      padding: 8px;
    }
  }

  &.objeto-oculto {
    .card-header {
      background-color: var(--purple-350);
    }

    button {
      background-color: var(--purple-350);
    }
  }

  &.inactive {
    border-color: darkgray;
    color: darkgray;

    .card-header {
      background-color: lightgray;
    }

    button {
      background-color: white;
      cursor: default;
    }
  }
}
